<a href="https://colab.research.google.com/github/Kanyarat-S/DWDM21/blob/main/Data101_(Chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ข้อความที่อยู่ใน texbox จะเป็นภาษา markdowm

ข้อดีหนึ่งของ python คือมี package สำหรับทำงานต่างๆมากมาย

ซึง pandas เป็น package สำหรับการทำงานกับข้อมูลที่อยู่ในรูปแบบตาราง

โดย pandas จะเรียกตารางนั้นว่า dataframe

In [12]:
import pandas # วิธีเรียกใช้ package คือ impot ตามด้วยชื่อ package

In [13]:
import pandas as pd # เหมือนกับข้างบนแต่ว่า ตั้งชื่อให้ package ที่โหลดมาใหม่ว่า pd

ไฟล์ .csv (CSV = comma separated values) เป็นไฟล์หลักที่เราจะได้ใช้กันในวิชานี้

In [14]:
data_df = pd.read_csv('data.csv')

In [15]:
data_df

    name  age       city
0    Tom   27  Khon Kaen
1   Paul   15    Bangkok
2  Sarah   49     London

In [16]:
data_df2 = pandas.read_csv('data.csv')
data_df2

    name  age       city
0    Tom   27  Khon Kaen
1   Paul   15    Bangkok
2  Sarah   49     London

# Basic Python
## Variable

ข้อกำหนดในการตั้งชื่อตัวแปร

1. ชื่อห้ามมีเว้นวรรค
2. (พยายามใช้) ใช้ภาษาอังกฤษ
3. ตัวเล็กกับตัวใหญ่แตกต่างกัน (case sensitive)
4. ห้ามใช้ตัวเลขเป็นตัวหน้า

In [17]:
variable_a = 12
variable_b = 'abcde' # เรียกว่า quote
variable_c = variable_a

In [18]:
variable_a

12

In [19]:
variable_b

'abcde'

In [20]:
variable_c

12

In [22]:
variable a 6

SyntaxError: ignored

In [23]:
# (พยายามใช้) ใช้ภาษาอังกฤษ
# colab ใช้ภาษาไทยเป็นตัวแปรได้ แต่ไม่ควรใช้
ตัวแปร = 3
ตัวแปร

3

In [24]:
#  ตัวเล็กกับตัวใหญ่แตกต่างกัน (case sensitive)
v_a = 1
v_a = 2
print (v_a)
print (v_a)

2
2

In [25]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
2ab = 1

SyntaxError: ignored

In [26]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
variable = 1

In [27]:
print (variable)

1

In [28]:
variable_a = 12
variable_b = 'abcde' # เรียกว่า quote
variable_c = variable_a
variable_d = -41.2
variable_4 = "KKU" # " เรียกว่า double quote

In [29]:
variable_x = variable_c + variable_d
print (variable_x)

-29.200000000000003

In [31]:
variable_a + variable_b # ไม่สามารถบวกกันกันได้

TypeError: ignored

In [32]:
print (variable_b + variable_4)

abcdeKKU

## Casting int ( ) Float ( ) str ( )

In [33]:
print (variable_x)
print (int (variable_x))

-29.200000000000003
-29

In [36]:
v_x = str (variable_x)
print (v_x)

-29.200000000000003

In [37]:
v_x + variable_a

TypeError: ignored

In [38]:
variable_a + v_x

TypeError: ignored

In [39]:
v_x

'-29.200000000000003'

In [40]:
float (v_x)

-29.200000000000003

## Data Structure
### List()

In [83]:
list_a = [1,2,0,2, 'abs' ] # [] square brackete
list_b = [2, 'xyz' ,list_a, [1,2,0.0]]

In [84]:
list_a

[1, 2, 0, 2, 'abs']

In [85]:
list_b

[2, 'xyz', [1, 2, 0, 2, 'abs'], [1, 2, 0.0]]

In [86]:
len (list_b)

4

In [79]:
#ดึงค่า list ออกมา
list_b[3]

[1, 2, 0.0]

In [80]:
list_b[3][1]

2

string คือ list ของ ตัวหนังสือ

In [81]:
a = 'Stat KKU'

In [82]:
a[4]

' '

## วิธีสร้าง list ว่าง

In [87]:
list_c = list ( ) # แบบที่ 1
list_d = [] # แบบที่ 2

In [50]:
list_c

[]

In [88]:
list_d

[]

เติมค่าลงไปใน list (.append())

In [52]:
list_d. append ('a')

In [53]:
list_d

['a']

In [54]:
list_d. append (56)

In [55]:
list_d

['a', 56]

การชี้ค่าใน list (indexing)

1. ใช้ลำดับในการชี้
2. ลำดับเริ่มจาก 0
3. สามารถชี้จากข้างหลังได้โดยใช้ negative index

In [56]:
list_b

[2, 'xyz', [1, 2, 0, 2, 'abs'], [1, 2, 0.0]]

In [57]:
list_b [-1]

[1, 2, 0.0]

### list slicing

In [58]:
list_ex = [1,2,3,5,6,8,-1,20,50,0]

เราจะตัด list โดยเอาตั้งแต่ [ตัวหน้า : ตัวก่อนตัวหลัง] 

ถ้าเป็นสัญลักษณ์คณิตศาสตร์ ->[ตัวหน้า,ตัวหลัง]

In [59]:
list_ex[1:6] # เราจะตัด list โดยเอาตั้งแต่ [ตัวหน้า : ตัวก่อนตัวหลัง]

[2, 3, 5, 6, 8]

In [60]:
list_ex[4:]

[6, 8, -1, 20, 50, 0]

In [61]:
list_ex[:6]

[1, 2, 3, 5, 6, 8]

[จุดเริ่มต้น : จุดสุดท้าย : step]

In [62]:
list_ex

[1, 2, 3, 5, 6, 8, -1, 20, 50, 0]

In [63]:
list_ex[: : 2]  # สามารถกำหนดด้านหน้าด้านหลังได้เหมือนกัน

[1, 3, 6, -1, 50]

In [64]:
list_ex[::-1] # การกลับ list

[0, 50, 20, -1, 8, 6, 5, 3, 2, 1]

In [65]:
a

'Stat KKU'

In [66]:
a[5:]

'KKU'

In [67]:
a[-3:]

'KKU'

In [68]:
a[5:8]

'KKU'

In [69]:
a[5::]

'KKU'

In [70]:
a[-3::]

'KKU'

In [71]:
a[-3::1]

'KKU'

### list + list

In [72]:
print (list_a)
print (list_b)

[1, 2, 0, 2, 'abs']
[2, 'xyz', [1, 2, 0, 2, 'abs'], [1, 2, 0.0]]

In [73]:
list_a + list_b

[1, 2, 0, 2, 'abs', 2, 'xyz', [1, 2, 0, 2, 'abs'], [1, 2, 0.0]]

format sting 
จัดรูปแบบสตริงให้มันสวยงาม

```
f 'string {ตัวแปร}'
```

In [74]:
f'ตัวแปร list_a มีค่าคือ {list_a}' #เอาตัวหนังสือมาผสมกันได้

"ตัวแปร list_a มีค่าคือ [1, 2, 0, 2, 'abs']"

# Loop

```
for ตัวแปรที่จะรับค่าลิสต์ in ลิสต์ที่จะนำมาวนลูป :
  do someting
  ```

In [89]:
for i in [1,2,3,4,5] :
   print (i+1)

2
3
4
5
6

In [90]:
list5=[1,2,3,4,5]
for x in list5 :
    print (f'ค่าตัวแปร x คือ {x} และ x+2={x+2}' )

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [91]:
list (range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [92]:
for i in range (2,7,2) :
    print(i)

2
4
6

In [93]:
for i in range (5) :
  print ('hahaha')

hahaha
hahaha
hahaha
hahaha
hahaha

In [94]:
for i in range (5) : 
  print ('hahaha')
  x = i + 3 
  print (f'i={i} x={x}')

hahaha
i=0 x=3
hahaha
i=1 x=4
hahaha
i=2 x=5
hahaha
i=3 x=6
hahaha
i=4 x=7

### Nested loop

In [95]:
for i in range (3) :
    print (f'now i = {i}')
    print ('start j ioop')
    for j in range (4) :
          print (f'i = {i} j = {j} i+j = {i+j}')
    print ( 'end j loop')

now i = 0
start j ioop
i = 0 j = 0 i+j = 0
i = 0 j = 1 i+j = 1
i = 0 j = 2 i+j = 2
i = 0 j = 3 i+j = 3
end j loop
now i = 1
start j ioop
i = 1 j = 0 i+j = 1
i = 1 j = 1 i+j = 2
i = 1 j = 2 i+j = 3
i = 1 j = 3 i+j = 4
end j loop
now i = 2
start j ioop
i = 2 j = 0 i+j = 2
i = 2 j = 1 i+j = 3
i = 2 j = 2 i+j = 4
i = 2 j = 3 i+j = 5
end j loop

## Condition (if sratement )

In [101]:
stringx = 'gdhjhkiklip;p;lmnbvcde7uklokyjhretkgfdsk' #

if len (stringx) > 30:
    print (f'{stringx} is loher than 30 characters')
else:
    print(f'{stringx} in {len (stringx)} characters long')

gdhjhkiklip;p;lmnbvcde7uklokyjhretkgfdsk is loher than 30 characters

```python
if เงื่อนไขที่จะตรวจสอบ:(โดยใช้สัญลักษณ์ ==,!=,<,>,<=,>=):
   ถ้าเงื่อนไขเป็นจริง ทำงาน 1
   ถ้าเงื่อนไขเป็นจริง ทำงาน 2
else: #ตรวจสอบเงื่อนไขข้างบนแล้วไม่เป็นจริง
    ทำงานที่ x

```

In [102]:
stringx = 'gdhjhkiklip;p;lmnbvcde7uklokyjhretkgfdsk' #

if len (stringx) > 100:
    print (f'{stringx} is loher than 30 characters')
else:
    print(f'{stringx} in {len (stringx)} characters long')

gdhjhkiklip;p;lmnbvcde7uklokyjhretkgfdsk in 40 characters long

```python
if เงื่อนไขที่จะตรวจสอบ:(โดยใช้สัญลักษณ์ ==,!=,<,>,<=,>=):
   ถ้าเงื่อนไขเป็นจริง ทำงาน 1ถ้าเงื่อนไขเป็นจริง ทำงาน 1
   ถ้าเงื่อนไขเป็นจริง ทำงาน 2
elif เงื่อนไขที่จะตรวจสอบต่อไปถ้าเงื่อนไขข้างบนไม่เป็นจริง:
    ถ้าเงื่อนไขเป็นจริง ทำงาน a1
    ถ้าเงื่อนไขเป็นจริง ทำงาน a2
elif เงื่อนไขที่จะตรวจสอบต่อไปถ้าเงื่อนไขข้างบนไม่เป็นจริง:
    ถ้าเงื่อนไขเป็นจริง ทำงาน b1
    ถ้าเงื่อนไขเป็นจริง ทำงาน b2
else: #ตรวจสอบเงื่อนไขข้างบนแล้วไม่เป็นจริง
    ทำงานที่ x

```

In [108]:
password = '12345'

input_pass = '123sf'
if input_pass == password:
    print('Welcome!')
elif len(input_pass) > len (password) :
    print('Too long, try again!')
elif len(input_pass) < len(password) :
     print('Too short, try again!')
else:
      print('Wrong password, try again!')

Wrong password, try again!

Quiz 1 หา min

In [109]:
list_ex = [1,5,9,-19,-2,0] #หาค่าน้อยที่สุดใน list_ex โดยไม่ใช้ function min

In [111]:
#เฉลย
min = 1000000 #กำหนดค่า min ให้เยอะๆก่อน
for i in list_ex:  #เช็ค min
      if i < min:
          min = i
print(min)

-19

In [110]:
list_ex[3: 4 : 2] #โค้ดนี่้ทำเอง

[-19]

In [114]:
min = 100000000
print(list_ex)
for i in list_ex:
    print(f'now i = {i}, min = {min}')
    print('start condition')
    if i < min:
        print(f'i < min, update min -> {i}')
        min = i
    else:
        print('i >= min, not update')
    print('end condition, go to next i')

print(min)

[1, 5, 9, -19, -2, 0]
now i = 1, min = 100000000
start condition
i < min, update min -> 1
end condition, go to next i
now i = 5, min = 1
start condition
i >= min, not update
end condition, go to next i
now i = 9, min = 1
start condition
i >= min, not update
end condition, go to next i
now i = -19, min = 1
start condition
i < min, update min -> -19
end condition, go to next i
now i = -2, min = -19
start condition
i >= min, not update
end condition, go to next i
now i = 0, min = -19
start condition
i >= min, not update
end condition, go to next i
-19

HW 3 ตัดเกรด

In [115]:
score = [49,65,70,95,82,55,89,20,77,77,81,59,10] #ตัดเกรด คะแนนใน list score (ใช้ if กับ for)

##Function