<a href="https://colab.research.google.com/github/Kanyarat-S/DWDM21/blob/main/Data101_(Chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ข้อความที่อยู่ใน texbox จะเป็นภาษา markdowm

ข้อดีหนึ่งของ python คือมี package สำหรับทำงานต่างๆมากมาย

ซึง pandas เป็น package สำหรับการทำงานกับข้อมูลที่อยู่ในรูปแบบตาราง

โดย pandas จะเรียกตารางนั้นว่า dataframe

In [1]:
import pandas # วิธีเรียกใช้ package คือ impot ตามด้วยชื่อ package

In [2]:
import pandas as pd # เหมือนกับข้างบนแต่ว่า ตั้งชื่อให้ package ที่โหลดมาใหม่ว่า pd

ไฟล์ .csv (CSV = comma separated values) เป็นไฟล์หลักที่เราจะได้ใช้กันในวิชานี้

In [3]:
data_df = pd.read_csv('data.csv')

In [4]:
data_df

    name  age       city
0    Tom   27  Khon Kaen
1   Paul   15    Bangkok
2  Sarah   49     London

In [6]:
data_df2 = pandas.read_csv('data.csv')
data_df2

    name  age       city
0    Tom   27  Khon Kaen
1   Paul   15    Bangkok
2  Sarah   49     London

# Basic Python
## Variable

ข้อกำหนดในการตั้งชื่อตัวแปร

1. ชื่อห้ามมีเว้นวรรค
2. (พยายามใช้) ใช้ภาษาอังกฤษ
3. ตัวเล็กกับตัวใหญ่แตกต่างกัน (case sensitive)
4. ห้ามใช้ตัวเลขเป็นตัวหน้า

In [9]:
variable_a = 12
variable_b = 'abcde' # เรียกว่า quote
variable_c = variable_a

In [11]:
variable_a

12

In [12]:
variable_b

'abcde'

In [13]:
variable_c

12

In [14]:
variable a 6

SyntaxError: ignored

In [15]:
# (พยายามใช้) ใช้ภาษาอังกฤษ
# colab ใช้ภาษาไทยเป็นตัวแปรได้ แต่ไม่ควรใช้
ตัวแปร = 3
ตัวแปร

3

In [16]:
#  ตัวเล็กกับตัวใหญ่แตกต่างกัน (case sensitive)
v_a = 1
v_a = 2
print (v_a)
print (v_a)

2
2

In [17]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
2ab = 1

SyntaxError: ignored

In [18]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
variable = 1

In [19]:
print (variable)

1

In [20]:
variable_a = 12
variable_b = 'abcde' # เรียกว่า quote
variable_c = variable_a
variable_d = -41.2
variable_4 = "KKU" # " เรียกว่า double quote

In [21]:
variable_x = variable_c + variable_d
print (variable_x)

-29.200000000000003

In [22]:
variable_a + variable_b # ไม่สามารถบวกกันกันได้

TypeError: ignored

In [23]:
print (variable_b + variable_4)

abcdeKKU

## Casting int ( ) Float ( ) str ( )

In [24]:
print (variable_x)
print (int (variable_x))

-29.200000000000003
-29

In [27]:
v_x = str (variable_x)
print (v_x)

-29.200000000000003

In [28]:
v_x + variable_a

TypeError: ignored

In [29]:
variable_a + v_x

TypeError: ignored

In [30]:
v_x

'-29.200000000000003'

In [31]:
float (v_x)

-29.200000000000003

## Data Structure
### List()

In [32]:
list_a = [1,2,0,2, 'abs' ] # [] square brackete
list_b = [2, 'xyz' ,list_a, [1,2,0.0]]

In [33]:
list_a

[1, 2, 0, 2, 'abs']

In [34]:
list_b

[2, 'xyz', [1, 2, 0, 2, 'abs'], [1, 2, 0.0]]

In [35]:
len (list_b)

4

In [36]:
#ดึงค่า list ออกมา
list_b[3]

[1, 2, 0.0]

In [37]:
list_b[3][1]

2

string คือ list ของ ตัวหนังสือ

In [38]:
a = 'Stat KKU'

In [39]:
a[4]

' '

## วิธีสร้าง list ว่าง

In [40]:
list_c = list ( ) # แบบที่ 1
list_d = [] # แบบที่ 2

In [41]:
list_c

[]

In [42]:
list_d

[]

เติมค่าลงไปใน list (.append())

In [43]:
list_d. append ('a')

In [44]:
list_d

['a']

In [45]:
list_d. append (56)

In [46]:
list_d

['a', 56]

การชี้ค่าใน list (indexing)

1. ใช้ลำดับในการชี้
2. ลำดับเริ่มจาก 0
3. สามารถชี้จากข้างหลังได้โดยใช้ negative index

In [47]:
list_b

[2, 'xyz', [1, 2, 0, 2, 'abs'], [1, 2, 0.0]]

In [49]:
list_b [-1]

[1, 2, 0.0]

### list slicing

In [50]:
list_ex = [1,2,3,5,6,8,-1,20,50,0]

เราจะตัด list โดยเอาตั้งแต่ [ตัวหน้า : ตัวก่อนตัวหลัง] 

ถ้าเป็นสัญลักษณ์คณิตศาสตร์ ->[ตัวหน้า,ตัวหลัง]

In [51]:
list_ex[1:6] # เราจะตัด list โดยเอาตั้งแต่ [ตัวหน้า : ตัวก่อนตัวหลัง]

[2, 3, 5, 6, 8]

In [52]:
list_ex[4:]

[6, 8, -1, 20, 50, 0]

In [53]:
list_ex[:6]

[1, 2, 3, 5, 6, 8]

[จุดเริ่มต้น : จุดสุดท้าย : step]

In [55]:
list_ex

[1, 2, 3, 5, 6, 8, -1, 20, 50, 0]

In [54]:
list_ex[: : 2]  # สามารถกำหนดด้านหน้าด้านหลังได้เหมือนกัน

[1, 3, 6, -1, 50]

In [56]:
list_ex[::-1] # การกลับ list

[0, 50, 20, -1, 8, 6, 5, 3, 2, 1]

In [57]:
a

'Stat KKU'

In [58]:
a[5:]

'KKU'

In [59]:
a[-3:]

'KKU'

In [61]:
a[5:8]

'KKU'

In [62]:
a[5::]

'KKU'

In [63]:
a[-3::]

'KKU'

In [64]:
a[-3::1]

'KKU'

### list + list

In [65]:
print (list_a)
print (list_b)

[1, 2, 0, 2, 'abs']
[2, 'xyz', [1, 2, 0, 2, 'abs'], [1, 2, 0.0]]

In [66]:
list_a + list_b

[1, 2, 0, 2, 'abs', 2, 'xyz', [1, 2, 0, 2, 'abs'], [1, 2, 0.0]]

format sting 
จัดรูปแบบสตริงให้มันสวยงาม

```
f 'string {ตัวแปร}'
```

In [70]:
f'ตัวแปร list_a มีค่าคือ {list_a}' #เอาตัวหนังสือมาผสมกันได้

"ตัวแปร list_a มีค่าคือ [1, 2, 0, 2, 'abs']"

# Loop

```
for ตัวแปรที่จะรับค่าลิสต์ in ลิสต์ที่จะนำมาวนลูป :
  do someting
  ```

In [69]:
for i in [1,2,3,4,5] :
   print (i+1)

2
3
4
5
6

In [78]:
list5=[1,2,3,4,5]
for x in list5 :
    print (f'ค่าตัวแปร x คือ {x} และ x+2={x+2}' )

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [75]:
list (range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [76]:
for i in range (2,7,2) :
    print(i)

2
4
6

In [79]:
for i in range (5) :
  print ('hahaha')

hahaha
hahaha
hahaha
hahaha
hahaha

In [80]:
for i in range (5) :
  print ('hahaha')
  x = i + 3
  print (f'i={i} x={x}')

hahaha
i=0 x=3
hahaha
i=1 x=4
hahaha
i=2 x=5
hahaha
i=3 x=6
hahaha
i=4 x=7

### Nested loop

In [83]:
for i in range (3) :
    print (f'now i = {i}')
    print ('start j ioop')
    for j in range (4) :
          print (f'i = {i} j = {j} i+j = {i+j}')
    print ( 'end j loop')

now i = 0
start j ioop
i = 0 j = 0 i+j = 0
i = 0 j = 1 i+j = 1
i = 0 j = 2 i+j = 2
i = 0 j = 3 i+j = 3
end j loop
now i = 1
start j ioop
i = 1 j = 0 i+j = 1
i = 1 j = 1 i+j = 2
i = 1 j = 2 i+j = 3
i = 1 j = 3 i+j = 4
end j loop
now i = 2
start j ioop
i = 2 j = 0 i+j = 2
i = 2 j = 1 i+j = 3
i = 2 j = 2 i+j = 4
i = 2 j = 3 i+j = 5
end j loop

## Condition
##Function